---
layout: default
---

    <p class="meta">
        <small>
        <svg id="i-calendar" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M2 6 L2 30 30 30 30 6 Z M2 15 L30 15 M7 3 L7 9 M13 3 L13 9 M19 3 L19 9 M25 3 L25 9" /></svg>&nbsp;<time>{{page.date | date_to_string}}</time>&nbsp;
        
        <svg id="i-eye" viewBox="0 0 32 32" width="22" height="22" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="17" cy="15" r="1" />
        <circle cx="16" cy="16" r="6" /><path d="M2 16 C2 16 7 6 16 6 25 6 30 16 30 16 30 16 25 26 16 26 7 26 2 16 2 16 Z" /></svg>&nbsp;<span class="post-view" id="ga-pageviews"></span>&nbsp;

        <svg id="i-tag" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="24" cy="8" r="2" /><path d="M2 18 L18 2 30 2 30 14 14 30 Z" /></svg>
          {% for tag in page.tags %}
             <a class="tag-link" href="/tags/#{{tag|slugize}}">{{tag}}</a>{% unless forloop.last %},&nbsp;{% endunless %}
          {% endfor %}&nbsp;
        </small>
    </p>

    <div class="desc">
          <img class="post-image" width="100%" src="/thumbs/{{page.image}}" alt="{{page.title}}">
          <p class="intro">{{page.desc | strip_html}}</p>
      </div>

   <article>
      <main class="drop-cap">
           {{page.content}}
       </main>
 

   <div class="subscribe">
    <div class="form">
        <form action="//webjeda.us10.list-manage.com/subscribe/post?u=210acce5db69d3d4a04b0e25d&amp;id=bee17ce703" method="post" name="mc-embedded-subscribe-form" class="validate form-post" target="_blank" novalidate>
            <h2 style="color:#fff">Get Free Updates</h2>
            <div class="mc-field-group">
                <input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on">
                <input type="submit" value="❤" name="subscribe" class="heart">
            </div>
        </form>
   </div>         
 </div>        
 
                                                       
    {% include prev-next.html %}
    {% include disqus.html %}
   </article>

